/* HERO */

.hero {
  display: grid;
  grid-template-columns: repeat(3, auto);
  gap: 36px;
  margin-bottom: 12.5rem;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
}

.hero-info {
  grid-column: 2;
  text-align: center;
  justify-self: center;
}

.hero-info h1 {
  margin: 0 auto 2rem auto;
  max-width: 10ch;
}

.hero-info p {
  max-width: 50ch;
  margin-bottom: 2rem;
}

.hero-cta {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  justify-content: center;
}

.hero-info,
.hero-image-left,
.hero-image-right {
  grid-row: 1;
}

.hero-image-left,
.hero-image-right {
  min-width: 240px;
}

.hero-image-left {
  overflow: hidden;
  grid-column: 1;
  margin-top: -55px;
  margin-left: -40px;
}

.hero-image-right {
  overflow: hidden;
  grid-column: 3;
  margin-top: 55px;
  margin-right: -40px;
}

.hero-image-center {
  display: none;
}

.bullet-number {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-weight: 900;
  width: 3.5rem;
  height: 3.5rem;
  background-color: #fff;
  margin: 0 auto 4rem;
  border: 1px solid #dddde2;
  border-radius: 50%;
  position: relative;
}

.bullet-number::before {
  display: inline-block;
  content: "";
  width: 1px;
  height: 84px;
  background-color: #dddde2;
  margin-top: -140px;
  position: absolute;
}

/* MAIN */

.main-image-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(152px, auto));
  gap: 1.875rem;
  margin-bottom: 5rem;
}

.main-image-list img {
  border-radius: 8px;
}

.main-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.main-info span {
  margin-bottom: 1rem;
}

.main-info h2 {
  max-width: 16ch;
  margin-bottom: 2rem;
}

.main-info p {
  max-width: 55ch;
  margin-bottom: 9.75rem;
}

/* FOOTER */

.footer-bg {
  background-color: var(--primary-color-200);
  position: relative;
  padding-top: 7.25rem;
  padding-bottom: 6.5rem;
}

.footer-bg::before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background: url("../../assets/desktop/image-footer.jpg") no-repeat center
    center;
  background-size: cover;
  opacity: 0.1;
  position: absolute;
  top: 0;
}

.footer .bullet-number {
  top: -144px;
  margin-bottom: 0;
}

.footer-info {
  display: grid;
  grid-template-columns: 5fr 4fr auto;
  justify-items: space-between;
  align-items: start;
  gap: 30px;
}

@media (max-width: 768px) {
  .hero {
    grid-template-columns: 1fr;
    gap: 72px;
    justify-content: center;
    align-items: start;
    margin-bottom: 10.25rem;
  }

  .hero-info h1 {
    margin-bottom: 24px;
  }

  .hero-image-center {
    display: flex;
    grid-row: 1;
    overflow: hidden;
    justify-content: center;
    align-items: center;
  }

  .hero-image-center img {
    min-width: 680px;
  }

  .hero-info {
    padding: 0 20px;
    grid-column: 1;
    grid-row: 2;
  }

  .hero-image-left,
  .hero-image-right {
    display: none;
  }

  .main-image-list {
    grid-template-columns: repeat(2, auto);
    gap: 1rem;
    margin-bottom: 3rem;
  }

  .footer-bg {
    padding-top: 3.5rem;
    padding-bottom: 4.125rem;
  }

  .footer .bullet-number {
    top: -84px;
  }

  .footer-info {
    grid-template-columns: 1fr;
    justify-items: center;
    text-align: center;
    gap: 0;
  }

  .footer-info h2 {
    margin-bottom: 2rem;
  }

  .footer-info p {
    max-width: 52ch;
    margin-bottom: 2.5rem;
  }
}

@media (max-width: 430px) {
  .hero {
    gap: 48px;
    margin-bottom: 148px;
  }

  .hero-image-center img {
    min-width: 100%;
  }

  .footer .bullet-number {
    top: -68px;
  }

  .footer-bg {
    padding-top: 2.5rem;
    padding-bottom: 4.125rem;
  }
}
